<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
        <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
      </div>
      <div class="form">
        <form action="/create" method="post">
            <fieldset style="width: 500px;">
                <legend>Form Add User</legend>
                <div class="input-gr">
                    <label>Email</label>
                    <input type="text" name="email" />
                </div>
                <div class="input-gr">
                    <label>Name</label>
                    <input type="text" name="name"/>
                </div>
                <div class="input-gr">
                    <label>City</label>
                    <input type="text" name="city"/>
                </div>
                <button>Add</button>
    
                </fieldset>
        </form>
      </div>
</body>
</html>