<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Document</title>
    <style>
        #customers {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        #customers td, #customers th {
          border: 1px solid #ddd;
          padding: 8px;
        }
        
        #customers tr:nth-child(even){background-color: #f2f2f2;}
        
        #customers tr:hover {background-color: #ddd;}
        
        #customers th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #04AA6D;
          color: white;
        }
        </style>
</head>
<body>
    <div class="navbar">
        <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a class="active" href="/create"><i class="fa fa-fw fa-search"></i> Create</a>
      </div>
      <div class="form">
        <form action="/update-user" method="post">
            <fieldset style="width: 500px;">
                <legend>Update User</legend>
                <div class="input-gr">
                    <label>Id</label>
                    <input type="text" name="id" style="pointer-events: none;" value="<%= userEdit.id %>" />
                </div>
                <div class="input-gr">
                    <label>Email</label>
                    <input type="text" name="email" value="<%= userEdit.email %>" />
                </div>
                <div class="input-gr">
                    <label>Name</label>
                    <input type="text" name="name" value="<%= userEdit.name %>" />
                </div>
                <div class="input-gr">
                    <label>City</label>
                    <input type="text" name="city" value="<%= userEdit.city %>" />
                </div>
                <button>Save</button=>
    
                </fieldset>
        </form>
      </div>
</body>
</html>